





<div th:fragment="formbienvenida" class="my-sm-5">
    <form th:action="@{/settings}" th:object="${portadaDto}" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1"><h3>Titulo Portada</h3></label>
            <input type="text" class="form-control" th:field="*{titulo}" id="exampleFormControlInput1" placeholder="Titulo de la portada">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"><h3>Menseja de bienvenida</h3></label>
            <textarea class="form-control w-100" th:field="*{descripcion}" style="width: 100px; height: 300px;" 
                      id="exampleFormControlTextarea1" rows="3" placeholder="Menseja de bienvenida"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-info l-2 my-sm-0 float-right">
                <img  th:src="@{/img/mas.svg}" alt="dropdown image" data-toggle="dropdown" class="img-responsive" style="width: 22px">
                 Add 
            </button>
        </div>
    </form>    
</div>
